# Dépendances
node_modules/
package-lock.json

# Variables d'environnement (IMPORTANT : Ne jamais commit !)
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers système
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
